body {
  font-family: DejaVu Sans, Arial, sans-serif;
}

.page {
  width: 210mm;
  height: 148.5mm;
  display: flex;
  flex-direction: column;
}

body {
  width: 210mm;
  height: 148.5mm;
  margin: 0 auto;
  background: white;
  font-size: 12px;
}
.protocol {
  width: 210mm;
  height: 148.5mm;
  box-sizing: border-box;
  padding: 10mm;
  outline: 1px dashed #ccc;
}
.protocol-title {
  text-align: center;
  font-size: 20px;
}
.protocol-content-wrap {
  display: flex;
  gap: 8px;
  width: 100%;
}
.protocol-col-left {
  border: 1px solid black;
  width: 35%;
}
.row {
}
.protocol-date {
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid black;
}
.protocol-cykl {
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid black;
}
.value-bold {
  font-weight: 600;
  font-size: 14px;
}
.protocol-report {
  height: 350px;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  text-align: center;
}
.signature {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.signature-name {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 4px;
}

.signature-label {
  font-size: 10px;
}
.protocol-col-right {
  border: 1px solid black;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.protocol-params-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.protocol-params {
  border-bottom: 1px solid black;
}

.protocol-params-header {
  background: #e5e5e5;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid black;
}
.protocol-temp,
.protocol-time,
.protocol-presure {
  text-align: center;
  font-size: 12px;
  width: 33%;
  white-space: nowrap;
}

.clients {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 120px;
}
.section-title {
  padding: 5px;
  font-size: 12px;
}
.clients-box {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  height: 100%;
}

.client-tile {
  background: #d9d9d9;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 11px;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 1px;
}
.indicators {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.indicator-row {
  display: flex;
  flex: 1;
  border-top: 1px solid black;
}
.indicator-row:first-child {
  border-top: none;
}

.indicators-top {
}
.text-gora {
  width: 30px;
  border-right: 1px solid black;
  position: relative;
}

.text-vertical {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transform-origin: center;
  white-space: nowrap;
}
.indicators-place-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.indicators-place-top {
  flex: 1;
  border-bottom: 1px solid black;
}
.indicators-place-bottom {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 4px 8px;
}
.indicators-text {
  font-size: 12px;
  white-space: nowrap;
}

.indicators-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.checkbox-box {
  width: 8px;
  height: 8px;
  border: 1.5px solid black;
  display: inline-block;
}

@page {
  size: 210mm 148.5mm;
  margin: 0;
}

html,
body {
  width: 210mm;
  height: 148.5mm;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page {
  width: 210mm;
  height: 148.5mm;
  box-sizing: border-box;
  overflow: hidden;
  page-break-after: avoid;
}

* {
  box-sizing: border-box;
  page-break-inside: avoid;
}
